.join {
  background: url("../../img/fun-descr/elipses/attach-paperclip-symbol_icon-icons.com_73094 1.png") center no-repeat, linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
}

.find {
  background: url("../../img/fun-descr/elipses/eventcalendarsymbol_79791 1.png") center no-repeat, linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
}

.where-to-go {
  background: url("../../img/fun-descr/elipses/1486348532-music-play-pause-control-go-arrow_80458 1.png") center no-repeat, linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
}

.create {
  background: url("../../img/fun-descr/elipses/create-new-pencil-button_icon-icons.com_72791 1.png") center no-repeat, linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
}

.marks {
  background: url("../../img/fun-descr/elipses/Group.png") center no-repeat, linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
}

.chats {
  background: url("../../img/fun-descr/elipses/chats_circle_icon_173264 1.png") center no-repeat, linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);
}
