.header {
  display: flex;
  width: 100%;
  height: 67px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  background: rgba(7, 115, 250, 0.7);
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  z-index: 1070;
}

.header-logo {
  margin-left: 10.69%;
}

.nav-menu {
  width: 42.15%;
  margin-left: 8.74%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-buy {
  margin-left: 9.31%;
}
