.header .unfixed {
  margin-top: 100px;
  height: 937px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .unfixed .find-company {
  margin-top: 50px;
  width: 1460px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .unfixed .find-company .download {
  margin-top: 166px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header .unfixed .find-company .download .headline {
  font-weight: bold;
  font-size: 48px;
  margin-bottom: 14px;
  line-height: 124%;
  max-width: 560px;
}

.header .unfixed .find-company .download .description {
  font-weight: normal;
  margin-bottom: 44px;
  max-width: 560px;
}

.header .unfixed .find-company .download .download-buttons {
  max-width: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .unfixed .find-company .download .download-buttons .app-store {
  font-weight: bold;
  font-size: 17px;
  line-height: 124%;
  padding-left: 70px;
  background-image: url("../../../img/MoveOn/download/app-store.png");
  background-repeat: no-repeat;
  background-position: 40px;
  margin-bottom: 20px;
}

.header .unfixed .find-company .download .download-buttons .app-store:hover {
  color: #A658DB;
  background-image: url("../../../img/MoveOn/download/app-store-hover.png");
  background-repeat: no-repeat;
  background-position: 40px;
}

.header .unfixed .find-company .download .download-buttons .play-market {
  font-weight: bold;
  font-size: 17px;
  line-height: 124%;
  padding-left: 59px;
  background-image: url("../../../img/MoveOn/download/play-market.png");
  background-repeat: no-repeat;
  background-position: 26px;
}

.header .unfixed .find-company .download .download-buttons .play-market:hover {
  color: #A658DB;
  background-image: url("../../../img/MoveOn/download/play-market-hover.png");
  background-repeat: no-repeat;
  background-position: 26px;
}

.header .unfixed .find-company .download .download-buttons .play-market {
  font-weight: bold;
  font-size: 17px;
  line-height: 124%;
}

.header .unfixed .find-company .phone-image {
  width: 646px;
  height: 776px;
  background-image: url("../../../img/MoveOn/phone/phone-desktop.png");
  background-repeat: no-repeat;
  background-size: contain;
}

@media (max-width: 1275px) {
  .header .unfixed .find-company .download {
    margin-top: 0;
  }
  .header .unfixed .find-company .phone-image {
    width: 50%;
  }
}

@media (max-width: 990px) {
  .header .unfixed {
    margin-top: 50px;
    height: 948px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .unfixed .find-company {
    width: 89.3%;
    height: 642px;
    margin-top: 37px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .unfixed .find-company .download {
    width: 100%;
    height: 286px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .unfixed .find-company .download .headline {
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    font-size: 28px;
    line-height: 124%;
  }
  .header .unfixed .find-company .download .description {
    text-align: center;
    font-weight: normal;
    margin-bottom: 0;
  }
  .header .unfixed .find-company .download .download-buttons {
    width: 100%;
    height: 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header .unfixed .find-company .download .download-buttons .app-store {
    font-weight: bold;
    font-size: 17px;
    line-height: 124%;
    padding-left: 70px;
    background-image: url("../../../img/MoveOn/download/app-store.png");
    background-repeat: no-repeat;
    background-position: 40px;
    margin-bottom: 15px;
  }
  .header .unfixed .find-company .download .download-buttons .app-store:hover {
    color: #A658DB;
    background-image: url("../../../img/MoveOn/download/app-store-hover.png");
    background-repeat: no-repeat;
    background-position: 40px;
  }
  .header .unfixed .find-company .download .download-buttons .play-market {
    font-weight: bold;
    font-size: 17px;
    line-height: 124%;
    padding-left: 59px;
    background-image: url("../../../img/MoveOn/download/play-market.png");
    background-repeat: no-repeat;
    background-position: 26px;
  }
  .header .unfixed .find-company .download .download-buttons .play-market:hover {
    color: #A658DB;
    background-image: url("../../../img/MoveOn/download/play-market-hover.png");
    background-repeat: no-repeat;
    background-position: 26px;
  }
  .header .unfixed .find-company .download .download-buttons .play-market {
    font-weight: bold;
    font-size: 17px;
    line-height: 124%;
  }
  .header .unfixed .find-company .phone-image {
    width: 271px;
    height: 325px;
    background-image: url("../../../img/MoveOn/phone/phone-desktop.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}
/*# sourceMappingURL=header-download.css.map */