.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 1076px;
	top: 0;
	left: 0;
	right: 0;
	/*background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);*/
	background:
			url("../img/background/desk-head.png") top/100% 100%,
			url("../img/background/desk-head-shadopw.png") top/100% 100%;
	font-size: 20px;
	line-height: 124%;
	color: #FFFFFF;
	z-index: 1070;
}


@media (max-width: 990px) {
	.header {
		height: 1079px;
		/*background: linear-gradient(180deg, #8253D8 0%, #D05DDE 100%);*/
		background:
				url("../img/background/mob-head.png") top/100% 100%,
				url("../img/background/mob-head-shadow.png") top/100% 100%;
		font-size: 18px;
	}
}
