.form-section {
  margin-bottom: 84px;
}

.form-section .container .form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-section .container .form h2 {
  margin-top: 104px;
  margin-bottom: 60px;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
}

.form-section .container .form .application-form form {
  border: 1px solid #DDDFE0;
  border-radius: 6px;
  margin: 0 auto;
  width: 864px;
}

.form-section .container .form .application-form form h3 {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-top: 42px;
  margin-bottom: 30px;
}

.form-section .container .form .application-form form input {
  height: 64px;
  font-size: 16px;
  line-height: 24px;
  padding-left: 18px;
  margin-bottom: 10px;
  background: #EEF2F7;
}

.form-section .container .form .application-form form .long-input {
  width: 592px;
}

.form-section .container .form .application-form form .short-input {
  width: 279px;
}

.form-section .container .form .application-form form .form-container-1 {
  padding: 0 136px 0 136px;
  border-bottom: 1px solid #DDDFE0;
}

.form-section .container .form .application-form form .form-container-1 .your-data {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.form-section .container .form .application-form form .form-container-1 .your-data .connection {
  width: 592px;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.form-section .container .form .application-form form .form-container-2 {
  padding: 0 136px 0 136px;
  border-bottom: 1px solid #DDDFE0;
}

.form-section .container .form .application-form form .form-container-2 .prisoner-data {
  width: 100%;
  height: 448px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-section .container .form .application-form form .form-container-2 .prisoner-data .judicial-information {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  align-content: space-between;
  width: 592px;
  height: 256px;
  flex-wrap: wrap;
}

.form-section .container .form .application-form form .form-container-2 .file-loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  position: relative;
}

.form-section .container .form .application-form form .form-container-2 .file-loader input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
}

.form-section .container .form .application-form form .form-container-2 .file-loader label {
  margin-top: 32px;
  margin-bottom: 40px;
  width: 592px;
  height: 132px;
  border: 1px dashed #9299A2;
  border-radius: 4px;
  font-size: 16px;
  line-height: 24px;
  color: #9299A2;
  padding: 22px 50px;
}

.form-section .container .form .application-form form .form-container-2 .file-loader label p {
  padding-left: 33px;
}

.form-section .container .form .application-form form .form-container-2 .file-loader label .file-choose {
  display: block;
  font-size: 14px;
  line-height: 24px;
  margin-top: 16px;
  width: 136px;
  height: 44px;
  border: 1px solid #1939DE;
  border-radius: 3px;
  padding: 10px 16px;
  color: #1939DE;
}

.form-section .container .form .application-form form .form-container-2 .file-loader label .file-choose:hover {
  cursor: pointer;
}

.form-section .container .form .application-form form .form-container-2 .file-loader label::before {
  content: url("../../img/main-content/form/file-clip.png");
  position: absolute;
}

.form-section .container .form .application-form form .form-container-3 {
  padding: 46px 136px 48px 136px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-section .container .form .application-form form .form-container-3 .terms-accept {
  width: 30px;
  height: 30px;
  margin-right: 16px;
}

.form-section .container .form .application-form form .form-container-3 .checkbox-accept {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.form-section .container .form .application-form form .form-container-3 .checkbox-accept label {
  font-size: 14px;
  line-height: 18px;
}

.form-section .container .form .application-form form .form-container-3 .checkbox-accept label a {
  font-size: 14px;
  line-height: 18px;
  color: #1939DE;
}

.form-section .container .form .application-form form .form-container-3 .checkbox-accept label a:hover {
  text-decoration: underline;
}

.form-section .container .form .application-form form .form-container-3 .application-submit {
  font-size: 14px;
  line-height: 24px;
  color: #FFFFFF;
}

.form-section .container .application-popup {
  visibility: hidden;
  position: absolute;
  top: 50%;
  padding: 32px 32px 104px 81px;
  z-index: 100;
  background: #FFFFFF;
  box-shadow: 0 4px 40px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-section .container .application-popup .close-button {
  margin-left: auto;
}

.form-section .container .application-popup .close-button:hover {
  cursor: pointer;
}

.form-section .container .application-popup .popup-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.form-section .container .application-popup .popup-content .done-img {
  margin: 48px 0 60px 0;
}

.form-section .container .application-popup .popup-content div {
  padding-right: 51px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.form-section .container .application-popup .popup-content div h4 {
  margin-bottom: 32px;
  text-align: center;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}

.form-section .container .application-popup .popup-content div p {
  text-align: center;
  font-size: 18px;
  line-height: 24px;
}

@media (max-width: 1200px) {
  .form-section {
    margin-bottom: 60px;
  }
  .form-section .container .form h2 {
    font-size: 24px;
    line-height: 28px;
    margin-top: 60px;
  }
  .form-section .container .form .application-form form {
    width: 696px;
  }
  .form-section .container .form .application-form form h3 {
    font-size: 16px;
    margin-top: 32px;
    margin-bottom: 20px;
  }
  .form-section .container .form .application-form form .long-input {
    width: 568px;
  }
  .form-section .container .form .application-form form .short-input {
    width: 272px;
  }
  .form-section .container .form .application-form form .form-container-1 {
    padding: 0 64px;
    border-bottom: 1px solid #DDDFE0;
  }
  .form-section .container .form .application-form form .form-container-1 .your-data {
    padding-bottom: 36px;
  }
  .form-section .container .form .application-form form .form-container-1 .your-data .connection {
    width: 568px;
  }
  .form-section .container .form .application-form form .form-container-2 {
    padding: 0 64px;
    border-bottom: 1px solid #DDDFE0;
  }
  .form-section .container .form .application-form form .form-container-2 .prisoner-data {
    height: 416px;
  }
  .form-section .container .form .application-form form .form-container-2 .prisoner-data .judicial-information {
    width: 568px;
    height: 248px;
  }
  .form-section .container .form .application-form form .form-container-2 .file-loader label {
    margin-top: 28px;
    width: 568px;
    padding: 24px 18px;
  }
  .form-section .container .form .application-form form .form-container-2 .file-loader label p {
    padding-left: 33px;
  }
  .form-section .container .form .application-form form .form-container-2 .file-loader label::before {
    content: url("../img/main-content/form/file-clip.png");
    position: absolute;
  }
  .form-section .container .form .application-form form .form-container-3 {
    padding: 36px 120px;
    border-bottom: 1px solid #DDDFE0;
  }
  .form-section .container .form .application-form form .form-container-3 .checkbox-accept .terms-accept {
    width: 30px;
    height: 30px;
  }
  .form-section .container .form .application-form form .form-container-3 .checkbox-accept label {
    max-width: 170px;
    height: 36px;
  }
}

@media (max-width: 700px) {
  .form-section {
    margin-bottom: 0;
  }
  .form-section .container .form h2 {
    font-size: 20px;
    line-height: 24px;
    margin-top: 40px;
  }
  .form-section .container .form .application-form form {
    width: 312px;
    border: none;
  }
  .form-section .container .form .application-form form h3 {
    font-size: 16px;
    line-height: 24px;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 16px;
  }
  .form-section .container .form .application-form form input {
    height: 54px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .form-section .container .form .application-form form .long-input, .form-section .container .form .application-form form .short-input {
    width: 312px;
    margin-bottom: 12px;
  }
  .form-section .container .form .application-form form .form-container-1 {
    padding: 0 0;
    width: 100%;
    border-bottom: none;
  }
  .form-section .container .form .application-form form .form-container-1 .your-data {
    height: 218px;
    padding-bottom: 32px;
  }
  .form-section .container .form .application-form form .form-container-1 .your-data .connection {
    width: 100%;
    height: 120px;
    flex-direction: column;
  }
  .form-section .container .form .application-form form .form-container-2 {
    padding: 0 0;
    border-bottom: none;
  }
  .form-section .container .form .application-form form .form-container-2 .prisoner-data {
    height: 528px;
    justify-content: flex-start;
  }
  .form-section .container .form .application-form form .form-container-2 .prisoner-data .judicial-information {
    width: 312px;
    height: 384px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .form-section .container .form .application-form form .form-container-2 .file-loader label {
    margin-top: 0;
    margin-bottom: 0;
    width: 312px;
    height: 156px;
    padding: 24px 18px;
  }
  .form-section .container .form .application-form form .form-container-2 .file-loader label p {
    padding-left: 33px;
  }
  .form-section .container .form .application-form form .form-container-3 {
    padding: 40px 0 60px 0;
    flex-direction: column;
    align-items: flex-start;
  }
  .form-section .container .form .application-form form .form-container-3 .checkbox-accept {
    margin-bottom: 32px;
  }
  .form-section .container .form .application-form form .form-container-3 .checkbox-accept .terms-accept {
    width: 30px;
    height: 30px;
  }
  .form-section .container .form .application-form form .form-container-3 .checkbox-accept label {
    width: 170px;
    height: 36px;
    margin-right: 98px;
    margin-bottom: 0;
  }
  .form-section .container .form .application-form form .form-container-3 .button {
    width: 100%;
    max-width: 312px;
  }
  .form-section .container .form .application-form form .form-container-3 .application-submit {
    margin-left: 0;
  }
  .form-section .container .form .application-popup {
    visibility: hidden;
    position: absolute;
    top: 50%;
    padding: 14px 14px 48px 33px;
    border-radius: 15px;
  }
  .form-section .container .form .application-popup .close-button {
    width: 24px;
    height: 24px;
  }
  .form-section .container .form .application-popup .popup-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .form-section .container .form .application-popup .popup-content .done-img {
    margin: 10px 0 24px 0;
    width: 28px;
    height: 28px;
  }
  .form-section .container .form .application-popup .popup-content div {
    padding-right: 0;
  }
  .form-section .container .form .application-popup .popup-content div h4 {
    margin-bottom: 8px;
    text-align: center;
    font-size: 18px;
    line-height: 20px;
  }
  .form-section .container .form .application-popup .popup-content div p {
    font-size: 16px;
  }
}
