.fixed {
  position: fixed;
}

a {
  color: #3D4B66;
  font-size: 18px;
  font-style: normal;
  font-weight: normal;
  line-height: 24px;
}

a:hover {
  color: #1939DE;
  transition: 0.5s;
}

.display-menu {
  display: none;
}

.display-portable {
  display: none;
}

.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.08);
  background: #FFFFFF;
}

.header-nav .container .navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1216px;
  height: 48px;
  margin: 0 auto;
}

.header-nav .container .navigation .logo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-left: 68px;
  width: 155px;
  height: 100%;
}

.header-nav .container .navigation .logo a {
  font-size: 16px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-nav .container .navigation .logo a .logo-desc {
  color: #3D4B66;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.header-nav .container .navigation .logo a .logo-desc span {
  color: #1939DE;
  margin-left: 8px;
}

.header-nav .container .navigation .nav-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 647px;
  height: 24px;
}

@media (max-width: 1200px) {
  .header-nav {
    height: 72px;
  }
  .header-nav .container .navigation {
    width: 696px;
    height: 48px;
    margin: 0 auto;
  }
  .header-nav .container .navigation .logo {
    padding-left: 0;
  }
  .header-nav .container .navigation .display-menu {
    display: block;
  }
  .header-nav .container .navigation .display-tablet {
    display: none;
  }
  .header-nav .container .navigation .telephone {
    margin-left: 346px;
  }
  .header-nav .container .drop-menu {
    visibility: hidden;
    max-width: 360px;
    position: absolute;
    top: 80px;
    left: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    background: #EEF2F7;
  }
  .header-nav .container .drop-menu .mobile-menu-block {
    background-color: #FFFFFF;
    padding: 16px 180px 16px 16px;
    border-bottom: 1px solid #EEF2F7;
  }
  .header-nav .container .drop-menu .mobile-menu-block a {
    font-size: 16px;
    line-height: 24px;
  }
  .header-nav .container .drop-menu .mobile-menu-block .drop-menu-telephone {
    font-weight: 500;
  }
  .header-nav .container .drop-menu .drop-menu-logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
  }
  .header-nav .container .drop-menu .drop-menu-logo .logo img {
    width: 32px;
    height: 32px;
  }
  .header-nav .container .drop-menu .drop-menu-application {
    margin: 223px 16px 0 16px;
  }
  .header-nav .container .drop-menu .drop-menu-application .application {
    width: 328px;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
  }
}

@media (max-width: 700px) {
  .header-nav {
    height: 56px;
  }
  .header-nav .container .navigation {
    padding: 12px 24px;
    width: 100%;
  }
  .header-nav .container .navigation .logo {
    padding-left: 0;
  }
  .header-nav .container .navigation .logo img {
    width: 32px;
    height: 32px;
  }
  .header-nav .container .navigation .display-menu {
    display: block;
  }
  .header-nav .container .navigation .display-mobile {
    display: none;
  }
}
